body{
	background-image: url(https://hd.unsplash.com/39/yvDPJ8ZSmSVob7pRxIvU_IMG_40322.jpg);
	background-attachment: fixed;
	background-size: 100%;
	background-color: red;
}


/* MEDIA QUERY TO HIDE BACKGROUND PIC AT MOBILE WIDTH */

@media screen and (max-width: 999px) {
    body {
        background-color: #4EE2EC;
        background-image: none;
    }

    .divone{
    	background-color: red;
    }
}

/*.portheader{
	width: auto;
	height: 85px;
	background-color: #1a1a1a;
	opacity: 0.6;
}*/

.quotediv{
	background-color: #1a1a1a;
	background-repeat: no-repeat;
}

.wrapperdiv{
	opacity: none;
}


.divone{
	width: auto;
	height: auto;
	color: white;
	margin-bottom: 50px;
}

#boxhr{
	width: 300px;
	background-color: red;
	border-width: 2px;
	border-color: red;
}


/*.divone:hover{
	background-color: #625D5D;
	transition: .5s;
	background-opacity: 0.2;
}
*/
.navi{
	width: auto;
	height: auto;
	background-color: #1a1a1a;
	opacity: 0.9;
}

.navul{
	display: inline-block;
	color: white;
}

#ulli{
	display: inline-block;
	padding-left: 100px;
	padding-right: 100px;
	color: white;
	padding-top: 10px;
}

#ulli:hover{
	color: red;
	transition: 1s;
}

.hrone{
	width: 500px;
	border-width: 2px;
	border-color: black;
	background-color: black;
}

#box{
	/*border: 2px solid white;*/
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	background-color: #1a1a1a;
	opacity: 0.7;
}

#box:hover{
	background-color: black;
	transition: 0.5s;
	opacity: 0.7;
}

#portpic{
	opacity: 0.4;
	margin-top: 20px;
}

.divtwo{
	width: auto;
	height: auto;
	background-color: #5E5A80;
	opacity: 0.8;
}

.resume{
	width: auto;
	height: auto;
	background-color: #FFEBCD;
	margin-top: 50px;
	margin-bottom: 50px;
	font-family: 'Source Sans Pro', sans-serif;
}

#reshr{
	background-color: #6D7B8D;
	border-color: #6D7B8D;
	opacity: 0.5;

}

.footer{
	width: auto;
	height: auto;
	background-color: black;
	opacity: 0.7;
}

.whitebox:hover{
	background-color: white;
	transition: .5s;
}

#stars{
	opacity: 0.7;
}

.artwork{
	width: auto;
	height: auto;
/*	background-color: white;*/
	opacity: 0.8;
}

#tuxpic{
	margin-top: 50px;
	margin-bottom: 50px;
}


#tuxpictwo{
	margin-top: 100px;
	margin-bottom: 100px;
}




